%radius-xl {
    border-radius: 50% !important;
}

%radius-sm {
    border-radius: 4px;
}

%radius-bottom-sm {
    border-radius: 0 0 4px 4px;
}

%radius-md {
    border-radius: 20px;
}

%radius-top-md {
    border-radius: 20px 20px 0 0;
}

%radius-bottom-md {
    border-radius: 0 0 20px 20px;
}

%radius-lg {
    border-radius: 30px !important;
}