$color-pink:#ee0979;
$color-orange:#ff6a00;
$color-gray :#e8ecf1;
$color-primary :$color-pink;
$color-secondary :$color-orange;
$color-tertiary :$color-gray;
// $color-fourtry :$color-red;
// $color-fifthly :$color-whitered;
$color-black:#000000;
$color-white :#ffffff;
$color-para :#a0a8bd;